<h1 class="page-header">Create Documentable Nested Forms</h1>


<h3>Step 1</h3>
<blockquote>
  <p></p>
  <pre><code>accepts_nested_attributes_for :documents_attributes</code></pre>
</blockquote>

<h3>Step 1</h3>
<blockquote>
  <p></p>
  <pre><code></code></pre>
</blockquote>

<h3>Step 1</h3>
<blockquote>
  <p></p>
  <pre><code></code></pre>
</blockquote>

<h3>Step 1</h3>
<blockquote>
  <p></p>
  <pre><code></code></pre>
</blockquote>

<h3>Step 1</h3>
<blockquote>
  <p></p>
  <pre><code></code></pre>
</blockquote>