<h1 class="page-header">Customize Pagination</h1>

<blockquote>
  <p>Could look a little prettier than that.</p>
  <p><%= image_tag 'pagination.png', alt: '' %></p>
  <p>It could easily look like below but it still wouldn't fit the design given by the hypothetical client/boss.</p>
  <p><%= image_tag 'pagination_3.png', alt: '' %></p>
</blockquote>

<h3>Goals</h3>
<blockquote>
  <p>Revamp pagination to get a different style.</p>
  <p><%= image_tag 'pagination_2.png', alt: '' %></p>
</blockquote>

<h3>Step 1</h3>
<blockquote>
  <p>Import views from <code>kaminari</code></p>
  <pre><code>rails g kaminari:views bootstrap</code></pre>
</blockquote>