<h1 class="page-header">Getting Started</h1>
<blockquote>
  <h4>Let's start fresh!</h4>
  <p>
    We need to make sure we all work from the same code base.
  </p>
</blockquote>

<h3>Step 1</h3>
<blockquote>
  <p>Whether you did not complete the tutorial from Front End Development or if you would like to start fresh, clone the following repository:</p>

  <pre><code>git clone git@github.com:mathieugagne/milo-app.git</code></pre>

  <p>or</p>

  <pre><code>cd milo-app ; git pull origin master</code></pre>

</blockquote>

<h3>Step 2</h3>
<blockquote>
  <p>Get your database up to date.</p>
  <pre><code>rake db:migrate db:seed</code></pre>
</blockquote>

<h3>Step 3</h3>
<blockquote>
  <p>Add some fake data to help testing our views.</p>
  <pre><code>rake projects:fake</code></pre>
</blockquote>

<h3>Step 4</h3>
<blockquote>
  <div class="message">
    <p>Open the milo-app folder as a project in your text editor.</p>

    <p>In <strong>Sublime Text 2</strong>, you can use the <code>Project &gt; Add Folder to Project...</code> menu option:</p>

    <p><%= image_tag "sublime_add_folder_to_project.png", alt: '' %></p>
  </div>
</blockquote>