<h1 class="page-header">Index Projects</h1>


<h3>Step 1</h3>
<blockquote>
  <p>Tell Sunspot what you would like to be searchable</p>
  <pre><code>searchable do
  text :title, :description
  text :comments do
    comments.map(&:text).join(' ')
  end
  text :assignees do
    users.map(&:email).join(' ')
  end
end</code></pre>
</blockquote>


<h3>Step 2</h3>
<blockquote>
  <p>Index all projects from the console</p>
  <pre><code>$ rails c
Project.reindex</code></pre>
</blockquote>


<h3>Step 3</h3>
<blockquote>
  <p>Test that projects have been properly indexed</p>
  <pre><code>results = Project.search { fulltext 'est' }
results.total</code></pre>
</blockquote>