<h1 class="page-header">Rails Intermediate Part 2</h1>
<blockquote>
  <p>
    In this lesson, we will have a look at some of the features that makes Rails good at developping prototypes fast.
  </p>
  <p>
    We will go over a few of the most common tools found in Rails applications.
  </p>
  <p>
    Additionally, we will apply our learnings to our previously created Project Management System called Milo.
  </p>
</blockquote>

<h2>Goals</h2>
<blockquote>
  <ul>
    <li>Add pagination with Kaminari</li>
    <li>Send Email Notifications</li>
    <li>Add full-text search with Solr & Sunspot</li>
    <li>Upload files with Carrierwave</li>
  </ul>
</blockquote>

<h2>Meta Goals</h2>
<blockquote>
  <p>When you have completed today's goals you should understand:</p>
  <ul>
    <li>Presenter Pattern</li>
    <li>Threading</li>
    <li>ActionMailer</li>
    <li>Indexing & Faceting</li>
  </ul>
</blockquote>

<h2>Requirements</h2>
<blockquote>
  <p>
    We're going to be working with:
  </p>

  <ul>
    <li>Ruby 2.1.1</li>
    <li>Rails 4.1.x</li>
    <li>Bundler</li>
    <li>sqlite</li>
    <li>Terminal</li>
    <li>Sublime Text</li>
  </ul>
</blockquote>